<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="myHttpBinding" maxBufferSize="65535000" maxReceivedMessageSize="65535000" maxBufferPoolSize="65535000">
            <readerQuotas maxArrayLength="65535000" maxBytesPerRead="65535000" maxStringContentLength="65535000" maxNameTableCharCount="65535000" maxDepth="65535000"/>
          </binding>
        </basicHttpBinding>
      </bindings>
      <services>
        <service behaviorConfiguration="WcsServiceBehavior" name="DeviceServer.Services.RailGuidedVehicleDeviceService.RailGuidedVehicleDeviceServiceProxy">
          <endpoint address="" binding="basicHttpBinding" contract="RailGuidedVehicleService.IRailGuidedVehicleService" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9991/RailGuidedVehicleDeviceServiceProxy" />
            </baseAddresses>
          </host>
        </service>
      </services>
        <client>
            <endpoint address="http://10.12.96.58:9991/RailGuidedVehicleService"
                binding="basicHttpBinding" bindingConfiguration="myHttpBinding"
                contract="RailGuidedVehicleService.IRailGuidedVehicleService"
                name="RailGuidedVehicleDeviceServiceClient" />
        </client>
    </system.serviceModel>
</configuration>