<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">

    <target name="LogFile"
      xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level}|thread:${threadid}|${logger}: ${message}${newline}${exception:format=tostring}"
      fileName="${basedir}\logs\Log.log"
      archiveFileName="${basedir}\logs\${date:format=yyyy-MM-dd}\Log.{#####}.log"
      archiveAboveSize="204800"
      archiveNumbering="Sequence"
      maxArchiveFiles="1000"
      encoding="UTF-8"
      createDirs="true" />


    <target name="NHibernateLogFile"
      xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level}|thread:${threadid}|${logger}: ${message}     ${exception:format=tostring}"
      fileName="${basedir}\logs\NHibernate.log"
      archiveFileName="${basedir}\logs\${date:format=yyyy-MM-dd}\NHibernate.{#####}.log"
      archiveAboveSize="204800"
      archiveNumbering="Sequence"
      maxArchiveFiles="5000"
      encoding="UTF-8"
      createDirs="true" />


  </targets>
  
  <rules>
    <logger name="NHibernate" writeTo="NHibernateLogFile" final="true" minlevel="Warn" />
    <logger name="Spiral.NhUnitOfWork" writeTo="NHibernateLogFile" final="true" minlevel="Trace" />
    <logger name="Spiral.NhRepositoryContext" writeTo="NHibernateLogFile" final="true" minlevel="Trace" />
    <logger name="*" writeTo="LogFile" minlevel="Debug"/>
  </rules>
</nlog>
