<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMatedataService" />
                <binding name="BasicHttpBinding_IMatedataService1" />
                <binding name="BasicHttpBinding_ICraneService" />
                <binding name="BasicHttpBinding_IConveyorService" />
                <binding name="BasicHttpBinding_IRailGuidedVehicleService" />
                <binding name="BasicHttpBinding_IMatedataService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9991/SingleForkCraneStatusDiagnoseMatedataServiceProxy"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatedataService"
                contract="SingleForkCraneStatusDiagnoseMatedataService.IMatedataService"
                name="BasicHttpBinding_IMatedataService" />
            <endpoint address="http://localhost:9991/RailGuidedVehicleDataDiagnoseMatedataServiceProxy"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatedataService1"
                contract="RailGuidedVehicleDataDiagnoseMatedataService.IMatedataService"
                name="BasicHttpBinding_IMatedataService1" />
            <endpoint address="http://localhost:9991/CraneServiceProxy" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICraneService" contract="CraneDeviceServiceProxy.ICraneService"
                name="BasicHttpBinding_ICraneService" />
            <endpoint address="http://localhost:9991/ConveyorServiceProxy"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConveyorService"
                contract="ConveyorDeviceServiceProxy.IConveyorService" name="BasicHttpBinding_IConveyorService" />
            <endpoint address="http://localhost:9991/RailGuidedVehicleDeviceServiceProxy"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRailGuidedVehicleService"
                contract="RailGuidedVehicleDeviceServiceProxy.IRailGuidedVehicleService"
                name="BasicHttpBinding_IRailGuidedVehicleService" />
            <endpoint address="http://localhost:9991/ConveyorDataDiagnoseMatedataServiceProxy"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatedataService2"
                contract="ConveyorDataDiagnoseMatedataService.IMatedataService"
                name="BasicHttpBinding_IMatedataService2" />
        </client>
    </system.serviceModel>
</configuration>