     .page 
     {
         width:100%;
         height:400px;
         text-align:center;
     }
     .dadihuo1 
     {
         width:450px;
         height:400px;
         background-color:aliceblue;
         float:left;
         text-align:center;
     }
          .dadihuo2
     {
         width:450px;
         height:400px;
         background-color:aliceblue;
         float:right;
         text-align:center;
     }
     .table
      {
         text-align:center;
         width:100px;
         margin-left:20px;
         
     }
         .table td 
         {
             height:30px;
             width:100px;
         }
             .spen
     {
         color:black;
         text-align:center;

     }