@{
    ViewBag.Title = "诊断";
}

<link href="/Scripts/Design/crane.css" rel="stylesheet" />
<style type="text/css">
    .disable {
        opacity:0.2;
    }
    .CraneControlBox .diagnoseBox{
        width:100%;
        line-height:1.8;
        height:410px;
        overflow-y:auto;
        font-size:12px;
        text-align:left;
    }

    .CraneControlBox .infoBox {
        font-size:14px;
    }
</style>
<script type="text/javascript">
    function toJSON (v) {
        if (typeof (v) == 'string') {
            r = $.parseJSON(v);
        } else {
            r = v;
        }
        for (var prop in r) {
            if (r[prop] && typeof (r[prop]) == 'string') {
                if ((this.startWith(r[prop], '\\{') && this.endWith(r[prop], '\}')) || (this.startWith(r[prop], '\\[') && this.endWith(r[prop], '\\]'))) {
                    r[prop] = $.parseJSON(r[prop]);
                } else {
                    if (r[prop] == "null") {
                        r[prop] = null;
                    }
                }
            }
        }

        return r;
    }

    function getForkHorizontalPositionName(v) {
        switch (v) {
            case 1:
                return '中位';
            case 2:
                return '左位';
            case 3:
                return '左极限';
            case 4:
                return '右位';
            case 5:
                return '右极限';
            case 6:
                return '"左（外）';
            case 7:
                return '左（外）极限';
            case 8:
                return '右（外）';
            case 9:
                return '右（外）极限';
            default:
                return v;
        }
    }

    function getForkVerticalPositionName(v) {
        switch (v) {
            case 0:
                return '中位';
            case 1:
                return '高位';
            case 2:
                return '低位';
            default:
                return v;
        }
    }

    function getEventName(v) {
        switch (v) {
            case 0:
                return '初始化';
            case 1:
                return '开始运行';
            case 2:
                return '开始取货';
            case 3:
                return '取货完成'
            case 4:
                return '开始放货';
            case 5:
                return '放货完成';
            case 6:
                return '完成';
            case 7:
                return '急停';
            case 8:
                return '出错完成';
            case 9:
                return '回原点'
        }
    }

    function getStateName(v) {
        switch (v) {
            case 0:
                return '初始化';
            case 1:
                return '回原点';
            case 2:
                return '无货待命';
            case 3:
                return '有货待命';
            case 4:
                return '无货运行';
            case 5:
                return '有货运行';
            case 6:
                return '取货';
            case 7:
                return '放货';
            case 8:
                return '报警停机';
            case 9:
                return '报警复位';
            case 10:
                return '奇怪的状态';
            case 11:
                return '未连接';
            case 12:
                return '手动操作'
        }
    }

    function updateStatus(status) {
            $('.infoBox label[name]').each(function (i, item) {
                if (status.hasOwnProperty($(item).attr('name'))) {
                    var v = status[$(item).attr('name')];
                    switch ($(item).attr('name')) {
                        case "ForkHorizontalPosition":
                            v = getForkHorizontalPositionName(v);
                            break;
                        case "ForkVerticalPosition":
                            v = getForkVerticalPositionName(v);
                            break;
                        case "Event":
                            v = getEventName(v);
                            break;
                        case "State":
                            v = getStateName(v);
                            break;

                    }
                    $(item).text(v);
                } else {
                    $(item).text('<属性不存在>');
                }
            });

            var canHandle = false;
            if ('@ViewBag.RealName' == status.LockerUser && '@(this.Context.Request.Url.Authority)' == status.LockerIp) {
                canHandle = true;
            }
        $('#CraneControlBox input').each(function (i, item) {

                if (!$(item).hasClass('lock') && !$(item).hasClass('jt')) {
                    if (canHandle) {
                        $(item)
                            .removeClass('disable')
                            .removeAttr("disabled");
                    } else {
                        $(item)
                            .removeClass('disable')
                            .addClass('disable')
                            .removeAttr("disabled")
                            .attr('disabled', 'disabled');
                    }
                } else {

                    $(item)
                        .removeClass('disable')
                        .removeAttr("disabled");
                }
            });

            if (canHandle) {
                $('.lock').val('解锁')
                .css('background', 'url("/content/icons/lock.png") left no-repeat')
                .css('color', 'green');
            } else {
                $('.lock').val('锁定')
               .css('background', 'url("/content/icons/unlock.png") left no-repeat')
               .css('color', 'green');
            }
        }


        function proc() {
            $.ajax({
                type: "get",
                dataType: "json",
                url: '/SingleForkCrane/DeviceService/ReadStatus',
                success: function (data) {
                    if (data) {
                        data = toJSON(data);
                    }

                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            var status = data[i];
                            if (status.Name != $('#craneNames').val()) {
                                continue;
                            }

                            updateStatus(status);
                        }
                    }
                },
                error: function (x1, x2, x3) {
                    console.error(x1.status);
                }
            });
        }


        $(document).ready(function () {

            $('#CraneControlBox input').each(function (i, item) {
                $(item)
                       .removeClass('disable')
                       .addClass('disable')
                       .removeAttr("disabled")
                       .attr('disabled', 'disabled');
            });

            $('.lock').click(function () {
                if ($(this).val() == '锁定') {
                    if (!confirm('堆垛机在被锁定后，将不会再接受联机任务（已接收的将会任务将会继续执行，直到完成）.\n确定要锁定堆垛机' + $('#craneNames').val() + '吗？')) {
                        return;
                    }

                    callRemote('Lock', { craneName: $('#craneNames').val() });
                } else {
                    if (!confirm('堆垛机在被锁定后，有可能会马上接收到联机任务并运行\n请在解锁前确认巷道内没有人员，轨道内没有障碍物.\n确定要锁定堆垛机' + $('#craneNames').val() + '吗？')) {
                        return;
                    }

                    callRemote('UnLock', { craneName: $('#craneNames').val() });
                }
            });

            $('.jt').click(function () {
                callRemote('EmergencyStop', { craneName: $('#craneNames').val()});
            });
            $('.qxjt').click(function () {
                callRemote('CancelEmergencyStop', { craneName: $('#craneNames').val() });
            });

            $('.leftPick').click(function () {
                callRemote('Pick', { craneName: $('#craneNames').val(), forkDirection: 1 });
            });

            $('.rightPick').click(function () {
                callRemote('Pick', { craneName: $('#craneNames').val(), forkDirection: 2 });
            });

            $('.leftPut').click(function () {

                callRemote('Putdown', { craneName: $('#craneNames').val(), forkDirection: 1 });
            });

            $('.rightPut').click(function () {
                callRemote('Putdown', { craneName: $('#craneNames').val(), forkDirection: 2 });
            });

            $('.running').click(function () {
                callRemote('Move', { craneName: $('#craneNames').val(), userColumn: $('#userColumnNum').val(), userLevel: $('#userLevelNum').val() });
            });

            $('.yd').click(function () {

                callRemote('BackToTheOrigin', { craneName: $('#craneNames').val() });
            });

            $('.up').click(function () {
                callRemote('Up', { craneName: $('#craneNames').val() });
            });
            $('.left').click(function () {
                callRemote('Forward', { craneName: $('#craneNames').val() });
            });
            $('.down').click(function () {
                callRemote('Down', { craneName: $('#craneNames').val() });
            });
            $('.right').click(function () {
                callRemote('Back', { craneName: $('#craneNames').val() });
            });

            $('#diagnose').click(function () {

                callRemote('Diagnose', { craneName: $('#craneNames').val() });
            });

            setInterval(proc, 1000);
        });


        function callRemote(methodName, data) {
            $.ajax({
                type: "post",
                dataType: "json",
                url: '/SingleForkCrane/DeviceService/'+methodName,
                data: data,
                success: function (data) {
                    if (!data.success) {
                        alert(data.msg);
                    }
                },
                error: function (x1, x2, x3) {
                    console.error(x1);
                    alert('操作异常');
                }
            });
        }
</script>
<link href="/Scripts/Design/crane.css" rel="stylesheet" />
<div style="width:100%;line-height:1.8;font-size:20px;margin-bottom:20px;font-weight:bold;">
    请选择堆垛机：
    <select name="craneNames" id="craneNames">
        @foreach (var item in ((List<String>)ViewBag.CraneNames))
        {
            <option value="@item">@item</option>
        }
    </select> <span style="font-size:20px;font-weight:bold;color:red;">处于现场联机模式，请谨慎操作！</span>
</div>

<div id="CraneControlBox" class="CraneControlBox" style="float:left;">
        <div class="infoBox">
                 <label name="Name" class="CraneName">-</label>
                 <div class="userColumn">列：<label name="UserColumn">-</label></div>
                 <div class="userLevel">层：<label name="UserLevel">-</label></div>
                 <div class="taskId">任务号：<label name="TaskId">-</label></div>
                 <div class="userColumn">货叉：<label name="ForkHorizontalPosition">-</label></div>
                 <div class="userLevel">载货台：<label name="ForkVerticalPosition">-</label></div>
                 <div class="state">状态：<label name="State">-</label></div>
                 <div class="event">事件：<label name="Event">-</label></div>
                 <div class="taskId">任务号：<label name="TaskId">-</label></div>
                 <div class="error">错误码：<label name="ErrorCode">0000</label><label name="ErrorName"></label></div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0" class="controlTable">
            <tr>
                <td style="width:20%"></td>
                <td style="width:20%">左</td>
                <td style="width:20%">列</td>
                <td style="width:20%">层</td>
                <td style="width:20%">右</td>
            </tr>
            <tr>
                <td style="width:20%">命令操作</td>
                <td style="width:20%"><input type="button" class="leftPick" /></td>
                <td style="width:20%"><input type="text" class="num" id="userColumnNum" /></td>
                <td style="width:20%"><input type="text" class="num" id="userLevelNum"/></td>
                <td style="width:20%"><input type="button" class="rightPick" /></td>
            </tr>
            <tr>
                <td style="width:20%"></td>
                <td style="width:20%"><input type="button" class="leftPut" /></td>
                <td style="width:20%"></td>
                <td style="width:20%"><input type="button" class="running" value="运行" /></td>
                <td style="width:20%"><input type="button" class="rightPut" /></td>
            </tr>
            
            <tr>
                <td style="width:20%">单步操作</td>
                <td style="width:20%"></td>
                <td style="width:20%"><input type="button" class="up" /></td>
                <td style="width:20%"></td>
                <td style="width:20%"></td>
            </tr> 
            <tr>
                <td style="width:20%"></td>
                <td style="width:20%"><input type="button" class="left" /></td>
                <td style="width:20%"><input type="button" class="down" /></td>
                <td style="width:20%"><input type="button" class="right" /></td>
                <td style="width:20%"></td>
            </tr>
            
            <tr style="height:100px;vertical-align:bottom;">
                <td style="width:20%"></td>
                <td style="width:20%"><input type="button" class="lock" value="锁定" /></td>
                <td style="width:20%"><input type="button" class="jt" value="急停" /></td>
                <td style="width:20%"><input type="button" class="qxjt" value="取消急停" /></td>
                <td style="width:20%"><input type="button" class="yd"  value="原点"/></td>
            </tr>
        </table>
    </div>

<div class="CraneControlBox" style="float:left;margin-left:30px;">
        
        <table border="0" cellspacing="0" cellpadding="0" class="controlTable" style="width:95%;">
            <tr>
                <td style="width:20%;text-align:left;"><h2 style="margin:0px;padding:0px;float:left;">远程诊断信息</h2> <input id="diagnose" style="width:75px;border:none; text-decoration:underline; text-align:right;float:right;margin-top:0px;background:url(/content/icons/connected.png) left center no-repeat;" type="button" value="获取" /></td>
            </tr>
            <tr>
                <td>
                    <div class="diagnoseBox">
                        请点击“获取”按钮，获取远程设备实时诊断信息。
                    </div>
                </td>
            </tr>
        </table>
    </div>