<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AlarmDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[AlarmDataLog_PosNo] AS [PosNo],[AlarmDataLog_Manual] AS [Manual],[AlarmDataLog_Isolator] AS [Isolator],[AlarmDataLog_Breaker] AS [Breaker],[AlarmDataLog_Photocell] AS [Photocell],[AlarmDataLog_RunOvertime] AS [RunOvertime],[AlarmDataLog_OccupyOvertime] AS [OccupyOvertime],[AlarmDataLog_TaskNoGoods] AS [TaskNoGoods],[AlarmDataLog_MotorUseStatus] AS [MotorUseStatus],[AlarmDataLog_X_MotorVAF] AS [X_MotorVAF],[AlarmDataLog_Y_MotorVAF] AS [Y_MotorVAF],[AlarmDataLog_X_MotorContactor] AS [X_MotorContactor],[AlarmDataLog_X_MotorBraker] AS [X_MotorBraker],[AlarmDataLog_Y_MotorContactor] AS [Y_MotorContactor],[AlarmDataLog_Y_MotorBraker] AS [Y_MotorBraker],[AlarmDataLog_Lift_MotorContactor] AS [Lift_MotorContactor],[AlarmDataLog_Lift_MotorBraker] AS [Lift_MotorBraker],[AlarmDataLog_Spare] AS [Spare] FROM [ReceivedDataLogs] where [discriminator]='AlarmDataLog' and id&gt;=@id"/>
    <add key="HoldSignalDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[HoldSignalDataLog_PosNo] AS [PosNo] ,[HoldSignalDataLog_HandShake] AS [HandShake] ,[HoldSignalDataLog_AssignmentID] AS [AssignmentID] ,[HoldSignalDataLog_TU_ID] AS [TU_ID] ,[HoldSignalDataLog_TU_Type] AS [TU_Type] ,[HoldSignalDataLog_IO_Data] AS [IO_Data] FROM [ReceivedDataLogs] where [discriminator]='HoldSignalDataLog' and id&gt;=@id"/>

    <add key="LocationTaskDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[LocationTaskDataLog_PosNo] AS [PosNo],[LocationTaskDataLog_TaskNo] AS [TaskNo],[LocationTaskDataLog_TUID] AS [TUID],[LocationTaskDataLog_Str_Rcv_X] AS [Str_Rcv_X],[LocationTaskDataLog_Fnh_Rcv_X] AS [Fnh_Rcv_X],[LocationTaskDataLog_Rqs_Snt] AS [Rqs_Snt],[LocationTaskDataLog_Rcv_Rdy] AS [Rcv_Rdy],[LocationTaskDataLog_Str_Rcv_Y] AS [Str_Rcv_Y],[LocationTaskDataLog_Fnh_Rcv_Y] AS [Fnh_Rcv_Y] FROM [ReceivedDataLogs] where [discriminator]='LocationTaskDataLog' and id&gt;=@id"/>
    <add key="OccupyDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[OccupyDataLog_PosNo] AS [PosNo] ,[OccupyDataLog_PhocllUseStatus] AS [PhocllUseStatus] ,[OccupyDataLog_FroProPotocell] AS [FroProPotocell] ,[OccupyDataLog_FroPosPotocell] AS [FroPosPotocell] ,[OccupyDataLog_FroSloPotocell] AS [FroSloPotocell] ,[OccupyDataLog_AftProPotocell] AS [AftProPotocell] ,[OccupyDataLog_AftPosPotocell] AS [AftPosPotocell] ,[OccupyDataLog_AftSloPotocell] AS [AftSloPotocell] ,[OccupyDataLog_UpPotocell] AS [UpPotocell] ,[OccupyDataLog_DownPotocell] AS [DownPotocell] FROM [ReceivedDataLogs] where [discriminator]='OccupyDataLog' and id&gt;=@id"/>
    <add key="TaskDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[TaskDataLog_HandShake] AS [HandShake],[TaskDataLog_AssignmentID] AS [AssignmentID],[TaskDataLog_TU_ID] AS [ID],[TaskDataLog_TU_Type] AS [Type],[TaskDataLog_IO_Data] AS [Data],[TaskDataLog_RotingNo] AS [RotingNo],[TaskDataLog_StartMotorNo] AS [StartMotorNo],[TaskDataLog_DestinationNo] AS [DestinationNo],[TaskDataLog_TaskStatus] AS [TaskStatus],[TaskDataLog_ReadTask] AS [ReadTask],[TaskDataLog_Spare] AS [Spare] FROM [ReceivedDataLogs] where [discriminator]='TaskDataLog' and id&gt;=@id"/>
    <add key="LocationDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[LocationDataLog_Status] AS [Status],[LocationDataLog_PosNo] AS [PosNo] FROM [ReceivedDataLogs] where [discriminator]='LocationDataLog' and id&gt;=@id"/>
    <add key="ProfileMeasurementResultNetTransferObjectLogData" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[ProfileMeasurementResultNetTransferObjectLogData_PosNo] AS [No],[ProfileMeasurementResultNetTransferObjectLogData_Result] AS [Result],[ProfileMeasurementResultNetTransferObjectLogData_LeftOver] AS [Left_Over],[ProfileMeasurementResultNetTransferObjectLogData_RightOver] AS [Right_Over],[ProfileMeasurementResultNetTransferObjectLogData_SupereLevation] AS [Too_High],[ProfileMeasurementResultNetTransferObjectLogData_BackOver] AS [Back_Over],[ProfileMeasurementResultNetTransferObjectLogData_FrontOver] AS [Front_Over] FROM [ReceivedDataLogs] where [discriminator]='ProfileMeasurementResultNetTransferObjectLogData' and id&gt;=@id"/>

    <add key="ScannerResultNetTransferObjectLogData" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[ScanerDeviceTelexTransferObjectLogData_Barcode] AS [Barcode],[ScannerResultNetTransferObjectLogData_ScanerNo] AS [ScanerNo],[ScannerResultNetTransferObjectLogData_ConvReaded] AS [ConvReaded],[ScannerResultNetTransferObjectLogData_Result] AS [Result] FROM [ReceivedDataLogs] where [discriminator]='ScannerResultNetTransferObjectLogData' and id&gt;=@id"/>
    <add key="堆垛机控制盒状态NetTransferObjectLogData" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[堆垛机控制盒状态NetTransferObjectLogData_DeviceNo] AS [DeviceNo],[堆垛机控制盒状态NetTransferObjectLogData_IsEmergency] AS [IsEmergency],[堆垛机控制盒状态NetTransferObjectLogData_IsManual] AS [IsManual] FROM [ReceivedDataLogs] where [discriminator]='堆垛机控制盒状态NetTransferObjectLogData' and id&gt;=@id"/>
    <add key="输送线主接触器状态NetTransferObjectLogData" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[输送线主接触器状态NetTransferObjectLogData_DeviceNo] AS [DeviceNo],[输送线主接触器状态NetTransferObjectLogData_IsEmergency] AS [IsEmergency],[输送线主接触器状态NetTransferObjectLogData_Start] AS [Start],[输送线主接触器状态NetTransferObjectLogData_Stop] AS [Stop],[输送线主接触器状态NetTransferObjectLogData_Running] AS [Running],[输送线主接触器状态NetTransferObjectLogData_Alarm] AS [Alarm] FROM [ReceivedDataLogs] where [discriminator]='输送线主接触器状态NetTransferObjectLogData' and id&gt;=@id"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="myHttpBinding" maxBufferSize="65535000" maxReceivedMessageSize="65535000" maxBufferPoolSize="65535000">
          <readerQuotas maxArrayLength="65535000" maxBytesPerRead="65535000" maxStringContentLength="65535000" maxNameTableCharCount="65535000" maxDepth="65535000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WcsServiceBehavior" name="MatedataServer.Services.ConveyorService.ConveyorDataDiagnoseMatedataService">
        <endpoint address="" binding="basicHttpBinding" contract="Matedata.IMatedataService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/ConveyorDataDiagnoseMatedataService"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcsServiceBehavior" name="MatedataServer.Services.ConveyorService.ConveyorDataDiagnoseMatedataServiceProxy">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" contract="Matedata.IMatedataService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/ConveyorDataDiagnoseMatedataServiceProxy"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:9991/ConveyorDataDiagnoseMatedataService" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" contract="Matedata.IMatedataService" name="ConveyorDataDiagnoseMatedataService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcsServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata httpGetEnabled="False"/>
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
          <appErrorToMessage/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="appErrorToMessage" type="Matedata.WcfServiceOperationBehavior, Matedata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
