<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RequestStateCommandReplyDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt] ,[RequestStateCommandReplyDataLog_State] AS [State],[RequestStateCommandReplyDataLog_Column] AS [Column],[RequestStateCommandReplyDataLog_Level] AS [Level],[RequestStateCommandReplyDataLog_ForkHorizontalPosition] AS [ForkHorizontalPosition],[RequestStateCommandReplyDataLog_ForkVerticalPosition] AS [ForkVerticalPosition],[RequestStateCommandReplyDataLog_AtStation] AS [AtStation],[RequestStateCommandReplyDataLog_ErrorCode] AS [ErrorCode],[RequestStateCommandReplyDataLog_Event] AS [Event],[RequestStateCommandReplyDataLog_TaskId] AS [TaskId],[RequestStateCommandReplyDataLog_Telex] AS [Telex] FROM [ReceivedDataLogs] where [discriminator]='RequestStateCommandReplyDataLog' and id&gt;=@id"/>
    <add key="AddTaskCommandReplyDataLog" value="SELECT top {batchSize} [Id] ,[DeviceName] ,[CreatedAt],[AddTaskCommandReplyDataLog_Result] as [Result],[AddTaskCommandReplyDataLog_TaskId] as [TaskId],[AddTaskCommandReplyDataLog_Telex] as [Telex] FROM [ReceivedDataLogs] where [discriminator]='AddTaskCommandReplyDataLog' and id&gt;=@id"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="myHttpBinding" maxBufferSize="65535000" maxReceivedMessageSize="65535000" maxBufferPoolSize="65535000">
          <readerQuotas maxArrayLength="65535000" maxBytesPerRead="65535000" maxStringContentLength="65535000" maxNameTableCharCount="65535000" maxDepth="65535000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WcsServiceBehavior" name="MatedataServer.Services.SingleForkCraneService.SingleForkCraneStatusDiagnoseMatedataService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" contract="Matedata.IMatedataService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/SingleForkCraneStatusDiagnoseMatedataService"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcsServiceBehavior" name="MatedataServer.Services.SingleForkCraneService.SingleForkCraneStatusDiagnoseMatedataServiceProxy">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" contract="Matedata.IMatedataService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9991/SingleForkCraneStatusDiagnoseMatedataServiceProxy"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:9991/SingleForkCraneStatusDiagnoseMatedataService" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" contract="Matedata.IMatedataService" name="SingleForkCraneStatusDiagnoseMatedataService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcsServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata httpGetEnabled="False"/>
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
          <appErrorToMessage/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="appErrorToMessage" type="Matedata.WcfServiceOperationBehavior, Matedata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
